.favorite-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 85vh;
}

h1 {
    font-size: 34px;
    margin-top: 85px;
    justify-content: center;
    align-self: center;
}

h3 {
    font-size: 0.9rem;
    font-weight: 500;
    justify-content: center;
    align-self: center;
}

.favorite-h3 {
    margin-top: 36px;
}

.favorite-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
}
.breadcrum2 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
}
.result-Container {
    margin-top: 30px;
}
@media screen and (min-width: 800px) {
    h3 {
        font-size: 16px;
        justify-content: center;
        align-self: center;
    }
}
