.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  z-index: 3;

}

.modal-container {
  z-index: 1;
  background-color: #111;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 95%;
  padding: 30px;
  margin-top: 10px;
  
  
  
  border: 2px solid rgb(218, 216, 216);
}

.fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}

.modal-image-container {
  height: 402px;
  flex: 0 0 280px;
  background-color: green;
  margin-top: 30px;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.modal-info-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 400px;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-info-title {
  font-size: 35px;
  align-self: flex-start;
  margin-top: 2rem;
}

.modal-subheader {
  margin-top: 8px;
  font-weight: 500;
}

.modal-info-container p {
  font-size: 15px;
}

.modal-info-info {
  display: flex;
  font-weight: 400;
  font-size: 18px;
}

.fa-star {
  margin-left: 10px;
  margin-right: 3px;
  color: yellow;
}

.modal-buttons-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 24px 0 0 0;
}

.modal-buttons-container button {
  cursor: pointer;
  border: none;
  font-weight: 400;
  color: #fff;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 0.7rem 2rem;
  border-radius: 18px;
  transition: 0.3s;
}

.modal-buttons-container i {
  margin-right: 5px;
}

@media screen and (min-width: 800px) {
  .Modal {
    overflow: hidden;
    align-items: center;
  }

  .modal-container {
    flex: 0 1 750px;
    justify-content: space-between;
    margin-top: 0;
  }

  .modal-image-container {
    margin-top: 0px;
    margin-bottom: 24px;
  }

  .modal-info-container {
    padding: 0 24px;
    margin-bottom: 0px;
  }

  .modal-buttons-container {
    justify-content: flex-start;
    margin: 24px 16px 0 0;
  }

  .modal-buttons-container > button:hover{
    background-color: rgb(177, 6, 6);
    color: white;
  }
  

}
