.error-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    color: black;
}

.error-image-container {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.error-image-container img {
    width: 100%;
    object-fit: contain;
}

.error-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 90%;
    gap: 32px;
}

.error-text-container h1 {
    text-align: center;
    font-size: 2rem;
}

.error-text-container p {
    font-size: 1.1rem;
    text-align: center;
}

.error-text-container button {
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem 4rem;
    width: 300px;
}

@media screen and (min-width: 800px){
    .error-section{
        align-items: flex-start;
    }

    .error-image-container {
        width: 500px;
        height: 500px;
        margin-top: 25vh;
    }

    .error-text-container{
        margin-top: 25vh;
        flex: 0 1 550px;
    }

    .error-text-container h1 {
        font-size: 3rem;
    }
    
    .error-text-container p {
        font-size: 1.3rem;
    }


}
