.Player--container {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('https://image.tmdb.org/t/p/w780/jr9ad1PCnHxpxojKF1O07NrIYve.jpg') no-repeat center center fixed;   -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover ;
}

.player--wrapper {
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 60vw;
    
    
}

.overview--container {
    display: flex;
    justify-content: center;
}

.info--container {
    display: flex;
    padding:25px;
    width: 60vw;
    height: 50%;
    flex-direction: column;
    background: rgb(19, 19, 19);
    box-shadow:  16px 13px -10px rgb(0 0 0 / 80%);
    margin-bottom: 20px;
}

.info--container{
    display: flex;
    align-items: flex-start;
    
}

.infoText--container {
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.infoTitle--Container {
    display: flex;
    width: 100%;
    
    gap:20vw;
}


.infoText--container h1{
    width: 100%;
    margin-top: 5px;
}

.infoDetails--container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
}

.rating,.releaseTime,.runTime {
    font-size: 20px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.overview--container h3 {
    font-size: 20px;
    margin-top: 20px;
}

.season--border {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.season--border ul{
    list-style: none;
}
.season--border li{
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px 0px 10px 0px;
    margin-bottom: 10px;
    font-size: 24px;
    display: inline-block;
    margin-right: 20px;
}

.season--border li::after{
    border:1px solid blue;
}

.season--border2 {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.season--border2 ul{
    list-style: none;
}
.season--border2 li{
    
    padding: 10px;
    border: 1px solid green;
    border-radius: 0px 10px 0px 10px;
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
}

.Episode--Container {
    margin-top: 20px;
    border-top:1px solid red;
    width: 100%;
}

.EpisodeInfo-wrapper {
    margin-top: 20px;
}

.ul--Container {
    margin-bottom: 20px;
}

.active {
    border: 1px solid blue;
}


@media screen {
    
}

@media screen and (max-width: 840px) {
    .info--container {
     width: 95%;
    }
    .player--wrapper {
        width: 95%;
        
    }
  }