* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signUpScreen {
  display: flex;
  width: 100vw;

  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/83a9e2eb-4a7d-4f79-a014-dc0fd311b9c2/SE-sv-20221206-popsignuptwoweeks-perspective_alpha_website_large.jpg)
    center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.Gradient__container {
}

.signUpScreen__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}

.signUpScreen__container > form {
  display: grid;
  max-width: 300px;
  color: white;
  flex-direction: column;
  z-index: 1;
  text-align: center;
}

.signUpScreen__container > form > h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 5rem;
}

.signUpScreen__container > form > h3 {
  background-color: rgba(175, 11, 11, 0.4);
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.signUpScreen__container > form > input {
  outline-width: 0;
  color: black;
  height: 60px;
  margin-bottom: 14px;
  padding: 10px;
}

.signUpScreen__container > form > input::placeholder {
  color: black;
  font-size: 1rem;
}

.signUpScreen__container > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
